<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('../partials/navbar') %>
  <h1>Game Details</h1>

  <p>Name: <%= game.name %></p>
  <p>Genre:<%= game.genre %></p>
  <img src="<%= game.image %>" alt="<%=game.name%>">
  <p>Platform:<%= game.platform %></p>
  <p>Status:<%= game.status %></p>
  <p>Owner: <%= game.owner.username %></p>
<h2>Reviews</h2>
<a href="/games/<%= game._id %>/reviews/newReview">Write a review</a>

<% for (let review of game.gameReviews) { %>
    <div>
        <h3><%= review.title %></h3>
        <p><%= review.reviewBody %></p>
        <p>By: <%= review.owner.username %></p>
        <a href="/games/<%= game._id %>/reviews/<%= review._id %>">View review</a>
    </div>
<% } %>

  <form action="/games/<%= game._id %>?_method=DELETE" method="post">
    <button>Delete game</button>
  </form>

  <form action="/games/<%= game._id %>/edit" method="get">
    <button>Update game</button>
  </form>
</body>
<!-- new commit -->
</html>